[Unit]
Description=floodwatch-server

[Service]
ExecStartPre=-/usr/bin/docker kill floodwatch-server
ExecStartPre=-/usr/bin/docker rm floodwatch-server
ExecStart=/usr/bin/docker run \
  --name=floodwatch-server \
  --rm \
  --read-only \
  --env-file=/etc/floodwatch-server/floodwatch-server.env \
  -v /usr/share/ca-certificates/:/etc/ssl/certs:ro \
  -p 80:80 \
  -p 8000:8000 \
  ocrnyc/floodwatch-server
ExecStop=/usr/bin/docker stop floodwatch-server
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
