// Variables
@import "bootstrap/variables";
@import "custom/variables";

// Mixins
@import "mixins";

// Components
@import "bootstrap";
@import "custom";

@import "pages/compare";
@import "pages/profile";

* {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	font-weight: inherit;

	text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

	box-sizing: border-box;
}

#row-top {
	.alert {
		margin-bottom: 0;
	}
}

a.anchor {
	color: $gray-base;
	position: relative;

	&::before {
		content: "\e144";

		display: none;

		position: absolute;
		left: -22px;
		top: 10px;
		margin-top: -2px;

		font-family: 'Glyphicons Halflings';
		color: $gray;
		font-size: 12px;
	}

	&:hover {
		text-decoration: none;

		&::before {
			display: block;
		}
	}

	&.noicon:hover::before {
		display: none;
	}
}
