@import 'base/variables';
@import 'base/extendables';
@import 'base/reset';

@import 'components/nav';

* {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	font-weight: inherit;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

body {
	background: $default-background;
	font-size: $default-font-size;
	line-height: $default-font-lh;
	font-family: $default-font;
	color: $default-font-color;
}

.container {
	width: 100%;
	padding: 50px 40px;
	margin: 0 auto;
	max-width: 1000px;

	@include clearfix;
}

@media (min-width: $screen-sm-min) {
	.container {
		width: #{$screen-sm-min - 20};
	}
}

@media (min-width: $screen-md-min) {
	.container {
		width: #{$screen-md-min - 20};
	}
}

@media (min-width: $screen-lg-min) {
	.container {
		width: #{$screen-lg-min - 20};
	}
}

a:hover {
	font-style: underline;
}
