.centered {
  text-align:center;
}

.italics {
  font-style: italic;
}

#faqpp .header {
}

#faqpp h4 {
  margin-top:50px;
}

#faqpp h4 > *, #faqpp h1 > * {
  color:black!important;
}

#faqpp .section {
  margin-top:25px;
}

#faqpp a:hover {
  text-decoration:none;
  color:black;
}

#faqpp .underlined {
  text-decoration:underline;
  color:black;
}

#faqpp .underlined:hover {
  text-decoration:underline;
  color:gray;
}

