.compare, .generate {

	.sentence {
		line-height: 1.3;
		font-weight: bold;
		margin-bottom: 10px;

		&.left-sentence {
			text-align: right;
		}

		&.right-sentence {

		}
	}

	.chart {
		&-sentence {
			margin-top: 0px;
		}

		&-actions {
			text-align: center;
			margin-bottom: 30px;

			&_share, &_toggleCompare {
				margin: 0px 10px;
			}
		}

		&_rect {
			opacity: 0.2;
			opacity: 1;

			&.current {
				opacity: 1;
			}
		}

		&_text {
			color: white;
			font-family: "Adelle Sans";
			font-size: 13px;
			letter-spacing: 1px;

			&.hide {
				display: none;
			}
		}

		&_notEnough {
			display: none;

			&.active {
				display: block;
			}
		}

		&_svg {
			display: none;

			&.active {
				display: block;
			}
		}

		.name {
			font-size: 16px;
			pointer-events: none;

			&.small {
				font-size: 13px;
			}

			&.xsmall {
				font-size: 11px;
			}
		}

		.percentage {
			font-size: 11px;
			font-weight: bold;
			pointer-events: none;
		}
	}
}

.filter-option {
	.btn {
		padding-left:40px;
		box-shadow:none;
		border:none;
		background-color:white;
	}

	margin-bottom:40px;
}

.comparison-container {
	button {
		box-shadow:none;
		background-color:white;
	    border: solid 2px #f2f3f4;
	    border-radius: 3px;
	}
}

/* Special case rules for the generated image */
.generate {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;

	.chart-sentence {
		margin-top: 10px;
	}
}

.logic-option {
	&-inline {
		margin-right: 7px;
		font-weight: normal;

		input[type="radio"] {
			margin-right: 7px;
		}
	}
}
