.home {
	&_header {
		position: relative;
		width: 100%;
		padding: 70px 0;
		overflow: hidden;
		margin-top: -30px;
		margin-bottom: 30px;

		color: white;
		background-color: $gray-base;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		&_title {
			color: white;
			letter-spacing: 2px;
		}

		p {
			font-size: 16px;
		}

		.btn {
			margin-top: 15px;
		}

		&_video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: -1;
		}
	}
}