.profile-page {
    &_option {
        border-bottom: 1px solid $gray-lighter;
        padding-top: 40px;
        padding-bottom: 40px;

        &:first-child {
            border-top: 1px solid $gray-lighter;
        }

        &_header {
            margin-bottom: 15px;

            &_instruction {
                margin-top: -5px;
                opacity: 0.5;
                font-style: italic;
            }
        }
    }

    &_learnmore {
        opacity: 0.5;
        color: $gray-base;
        margin-left: 5px;
        background: white;
        border: none;

        transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }

        &:focus {
          outline: 0;
        }

        &.open {
            opacity: 1;
            color: $brand-primary;
        }
    }

    &_actions {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;

        &_submit {

        }
    }

    .custom-option {
      background: white;

      &:focus {
        outline: 0;
      }
    }
}
