.profile-page {
    .demographic-category {
        margin-bottom:50px;
    }

    .demographic-category .input-wrapper{
        margin-left:5px;
    }

    .learn-more {
        margin-left:5px;
    }

    #profile-explanation {
        margin-bottom:5px;
    }

    h4 {
        font-weight:500;
    }

    #submit-button {
        background-color:lightblue;
        width:100%;
    }

    .learn-more {
        font-style: italic;
    }
}