.demographic-category {
    margin-bottom:50px;
}

.demographic-category .input-wrapper{
    margin-left:5px;
}

.learn-more {
    margin-left:5px;
}

#profile {
    background-color:white; 
    border-radius:10px; 
    padding:20px;
}

#profile #profile-explanation {
    margin-bottom:5px;
}

#profile h4 {
    font-weight:500;
}

#profile #submit-button {
    background-color:lightblue;
    width:100%;
}

#profile .learn-more {
    font-style: italic;
}