<div style="font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;text-align:center;margin-top: 20px">
  <a href="{{.resetPasswordUrl}}" style="text-decoration: none; color: rgb(0,0,0);">
    <div id="floodwatch" style="font-size: 24px; display: inline-block;clear:left; text-align: center; border: 1px solid rgb(0,0,0); padding: 20px 30px; margin-bottom:20px;border-radius: 3px;">
      <div>Reset your <strong style="color: #d0462c">Floodwatch</strong> account password.</div>
    </div>
  </a>
  <div style="font-size: 10px;line-height: 1.5em">
    <div>Click above, or navigate to:</div>
    <div style="font-weight: bold">{{.resetPasswordUrl}}</div>
  <div>
</div>
